<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="3.0" package="com.hindi.letters" android:installLocation="auto" android:versionCode="3">
	<uses-sdk android:minSdkVersion="21" android:targetSdkVersion="29" />
	<application android:label="Hindi Letters"></application>
</manifest>